/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.env.*
!.env.example
storage/oauth-private.key
storage/oauth-public.key



# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
