
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.card {
	border-radius: 3px;
	-webkit-box-shadow: 3px 3px 17px 2px rgba(0,0,0,0.47);
	-moz-box-shadow: 3px 3px 17px 2px rgba(0,0,0,0.47);
	box-shadow: 3px 3px 17px 2px rgba(0,0,0,0.47);
}

.board {
	border-radius: 3px;
	-webkit-box-shadow: 3px 3px 17px 2px rgba(0,0,0,0.47);
	-moz-box-shadow: 3px 3px 17px 2px rgba(0,0,0,0.47);
	box-shadow: 3px 3px 17px 2px rgba(0,0,0,0.47);
	margin-bottom: 10px;
}

.board .media-body {
	padding-top: 5px;
}

#cards .card p {
	margin: 10px;
}